@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Portal</h1>
    <p>Calculo para lente esferica descentrada <a asp-area="" asp-controller="LentesEsfericasDescentradas" asp-action="Create">AQUI</a> .</p>
</div>
